@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  max-height: 100dvh;
  overflow: hidden;
}

.slide-up {
  transition: transform 0.5s ease;
  transform: translateY(-80%);
}

.slide-down {
  transition: transform 0.5s ease;
  transform: translateY(0);
}

.button-wrapper {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds spacing between the buttons */
}

body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
